@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
html,body{
    height: 100%;
}
.clear{
    clear:both;
}

.box{
    margin: 20px auto;
    width: 500px;
    height: 200px;
    background-color: bisque;
    overflow:auto;
}

.box p{
    width: 100%;
}