*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
html,body{
    height:100%;
}

body{
    background-color:beige;
}
.clear{
    clear:both;
}

.cabecalho{
    width: 90%;
    margin-top:2%;
    margin:0 auto;
    padding: 1%;
    background-color:white;
    text-align: center;
}
.cabecalho h1{
    font-size: 2.3em;
    font-variant: small-caps;
    padding-bottom: 5px;
}
.cabecalho p{
    font-size: 1.1em;
    text-decoration: underline;
    padding-bottom: 5px;
}
.menu ul{
    width: 100%;
    text-align: left;
}
.menu li{
    display: inline-block;
    padding: 10px 0;
}
.menu a{
    color: rgb(118, 16, 214);
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
}
.menu a:hover{
    background-color:aqua;
    border-radius: 10px;
    transition-duration: 1s; 
}

.principal{
    width: 90%;
    background-color:white;
    padding: 0 1% 1% 1%;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}
.principal > article > h2{
    font-variant: small-caps;
    background-image: linear-gradient(to right, rgb(190, 61, 190) 5%, rgb(45, 45, 168) 70%, transparent 90%);
    color: white;
    font-weight: normal;
    padding: 5px;
    border-radius:3px;
    margin-bottom: 1%;
}
.principal > article > p{
    text-align: justify;
    width: 90%;
    letter-spacing: 3px;
    line-height: 20px;
    text-indent: 10px;
}

.contato{
    padding-top: 1%;
}

.contato > p{
    margin-bottom: 1%;
}

.conteudo > p{
    display:inline-block;
    width:100%;
    max-width: 680px;
}

.conteudo img{
    width: 25%;
    vertical-align: top;
    margin-left: 10%;
    margin-top: -10px;
    /* float: right; */
}