*{
    /* margin:0;
    padding:0; */
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #FBE3DB;
}

header{
    background-color: #F6C7B6;
    text-align: center;
    padding: 25px;
}

header > h1{
    color:#240D04;
}
nav{
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.384);
    padding-top:30px;
    padding-bottom:30px;
}
a{
    text-decoration:none;
    color:#240D04;
    font-weight:bold;
    margin:15px;
}

a:hover{
    color: yellow;
}

.produto1, .produto2, aside{
    color:#240D04;
    background-color:#F6C7B6;
}

.produto1>h2, .produto2>h2{
    margin-left:40px;
}

p{
    text-align:justify;

    margin: 10px 30px;
}

aside{
    padding: 15px;
    text-align:right;
}

.ball{
    margin: 20px;
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:white;
}

footer{
    background-color:#1999C8;
    padding: 20px;
    font-weight:bold;
    color:white;
    text-align:center;
    font-style:italic;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}
