*{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    background-color: lightgray;
    border: 10px solid red;
    width:629px;
    text-align:center;
    padding: 15px 15px;
    margin: 20px auto 50px auto;
}

p{
    text-align: center;
    height: 20px;
    font-variant:small-caps;
    letter-spacing: 4px;
}

a{
    border: 5px solid rgb(211, 77, 77);
    padding: 2px;
}