@import url('../../reset.css');
@import url('../../standard.css');

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding: 0 2%;
    height: 100%;
}

.banner {
    background-color: var(--azulPrincipal);
    /* text-align: center; */
}

.banner img {
    max-width: 100%;
}